<div class="hero-unit">
  <h1>Peter Klipfel</h1>
  <br>
  <br>
  <br>
	<p class="hidden-desktop"><a data-toggle="collapse" data-target=".nav-collapse">Menu</a></p>
 </div>

 <div class="pointer visible-desktop">
 	 <p>I do stuff</p>
   <span><%= image_tag "arrow.png" %></span> 
 </div>