<div class="who-am-i">
  <div class="row">
    <div class="twelve columns">
      <div class="flex-video widescreen">
          <div style="position:relative;">
            <h1 class="hero">Peter Klipfel</h1>
            <h2>Computers and Music</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

