<div class="who-am-i">
  <div class="row">
    <div class="twelve columns hero-wrap">
      <div class="flex-video widescreen">
        <div style="position:relative;">
          <h1 class="hero">Peter Klipfel</h1>
          <h2 class="hero">computers and music</h2>
          <%= image_tag "monitor.png", :class => "hero-img"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="computer-me">
  <div class="row">
    <h1>Things I build</h1>
  </div>
  <div class="row">
    <div class="four columns">
      <p>websites</p>
      <%= image_tag "cloud.png"%>
      <br><br><br><br>
    </div>
     <div class="four columns">
      <p>servers</p>
      <%= image_tag "server.png"%>
      <br><br><br><br>
    </div>
     <div class="four columns">
      <p>data apps</p>
      <%= image_tag "database.png"%>
      <br><br><br><br>
    </div>
  </div>
</div>

