<div class="who-am-i">
  <div class="row">
    <div class="twelve columns">
      <div class="flex-video widescreen">
          <div style="position:relative;">
            <h1 class="hero">Peter Klipfel</h1>
            <h2 class="hero">Computers and Music</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="computer-me">
  <div class="row">
    <div class="four columns">
      <h1>I build websites</h1>
    </div>
    <div class="eight columns">
      <%= image_tag "cloud.png", :class => "right"%>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <%= image_tag "server.png", :class => "left"%>
    </div>
    <div class="four columns">
      <h1>I build servers</h1>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <h1>I build data apps</h1>
    </div>
    <div class="eight columns">
      <%= image_tag "database.png", :class => "right"%>
    </div>
  </div>

</div>

