<section role="main">
  <div class="row">
    <div class="twelve columns">
      <div class="flex-video widescreen">
          <div style="position:relative;">
            <h1 class="hero">Peter Klipfel</h1>
            <h2>Computers and Music</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="row">
      <div class="twelve columns">
        <h3>About Me</h3>
        <p>I'm a web developer, data nerd, dj, student, and entrepreneur.  I cofounded <a href="http://musikfly.com">MusikFly</a> and was a part of the <a href="http://apixchange.com">APIxChange</a> team during its creation at a startup weekend.  I'm going to be entering my final year of college at the end of the summer.  I live in Boulder, Colorado, and am here because I love the climate and culture.  When I moved here, I didn't know anything about the startup ecosystem, and had no plans to become a computer scientist (I couldn't write a single line of code).  I followed the classes that I enjoyed, and am now a Ruby on Rails developer and data nerd.  I started going to web meetups about a year ago, and began dabbling in Android and iOS development.  After I had started seeing what production coding was all about, I started to like it more.  The idea of creating anything I can think of is appealing.  After a year more of school, I got an internship doing Ruby on Rails development.  That summer, I spent 14 hours a day doing Rails including weekends (to the dismay of my girlfriend).  By the end of the summer, I had begun to freelance and was looking into data analytics.  My physics education was convincing me to look for the beautiful patterns in the vast amounts of data available to us now.  Math is cool</p>
        <p>I designed the web page to be minimal and text based.  I have gone through a number of iterations, and found that it doesn't serve me well to plaster my site with glitter when the point is for you to be reading this message.</p>
        <p>I have played music for my whole life.  I currently play the laptop and turntables at a hip hop radio show.  I was raised on salsa, enya, Andrea Bocelli, and classic rock, so I am happy to listen to any type of music.  I started playing the piano some time before I was 8 (I have no idea when exactly).  I then moved on to playing the french horn, followed by mellophone, trombone, percussion, and the turntables.  I played the bass trombone in multiple jazz ensembles (school, and regional) in high school.  I also played in a few classical ensembles with the french horn.  On the percussion side, I played mostly auxiliary percussion, and went to WGI finals with eNVision.  At about that time, I had begun to dabble in production.  This was when I discovered the turntables, and the power of production using a computer.  Since then, I have produced music of many genres, and I like scratching.</p>
        </div>
    </div>
  </div>
</section>
