<script>
  $(document).ready(function() {
    $("#github").tooltip({title:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", placement:"bottom"})
 $("#autoponics").tooltip({title:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", placement:"bottom"})
 $("#statsmix").tooltip({title:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", placement:"bottom"})
 $("#hackerspace").tooltip({title:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", placement:"top"})
 $("#playground").tooltip({title:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", placement:"top"})
 $("#mystery").tooltip({title:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", placement:"top"})

	});
</script>
<div class="visible-desktop">
	<div class="row-fluid">
		<div class="span16">	
			<ul class="thumbnails">
			  <li class="span4">
			    <a href="http://www.github.com/peterklipfel" class="thumbnail" >
			    	<img src="images/octocat.png" alt="Github" id="github">
			    </a>
			  </li>
			  <li class="span4">
			    <a href="http://www.autoponics.org" class="thumbnail">
			    	<img src="images/autoponics.png" alt="Autoponics" id="autoponics">
			    </a>
			  </li>
			  <li class="span4">
			    <a href="http://www.statsmix.com" class="thumbnail">
			    	<img src="images/statsmix.png" alt="Statsmix" id="statsmix">
			    </a>
			  </li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span16">	
			<ul class="thumbnails">
			  <li class="span4">
			    <a href="#" class="thumbnail">
			    	<img src="images/hackerspace-nobg.png" alt="Hackerspace" id="hackerspace">
			    </a>
			  </li>
			  <li class="span4">
			    <a href="#" class="thumbnail">
			    	<img src="images/playground.png" alt="Playground" id="playground">
			    </a>
			  </li>
			  <li class="span4">
			    <a href="#" class="thumbnail">
			    	<img src="images/qmark.png" alt="Mystery" id="mystery">
			    </a>
			  </li>
			</ul>
		</div>
	</div>
</div>

<div class="hidden-desktop">
	<div class="row-fluid">
		<div class="span16">
			<div class="tabbable tabs-left">
	    	<ul class="nav nav-tabs">
			    <li><a data-toggle="tab" href="#lA">Github</a></li>
			    <li><a data-toggle="tab" href="#lB">Autoponics</a></li>
			    <li><a data-toggle="tab" href="#lC">Statsmix</a></li>
			    <li><a data-toggle="tab" href="#lD">Hackerspace</a></li>
			    <li><a data-toggle="tab" href="#lE">Playground</a></li>
			    <li><a data-toggle="tab" href="#lF">Mystery</a></li>
	    	</ul>
	    	<div class="tab-content">
	    		<div id="lA" class="tab-pane">
	    			<p>links to github stuff</p>
	    			<p><a href="http://www.github.com/peterklipfel">Github</a></p>
	    		</div>
	    		<div id="lB" class="tab-pane">
	    			<p>Autoponics</p>
	    			<p><a href="http://www.autoponics.org">Autoponics</a></p>
	    		</div>
	    		<div id="lC" class="tab-pane">
	    			<p>I'm employed by these guys.  Fun stuff</p>
	    			<p><a href="http://www.statsmix.com">Statsmix</a></p>
	    		</div>
	    		<div id="lD" class="tab-pane">
	    			<p>About me and the Boulder Hackerspace </p>
	    			<p><a href="http://boulderhackerspace.com/">BHS</a></p>
	    		</div>
	    		<div id="lE" class="tab-pane">
	    			<p>Links to stuff that I'm playing with after this site is up</p>
	    		</div>
	    		<div id="lF" class="tab-pane">
	    			<p>I haven't decided what to put here yet</p>
	    		</div>
	    	</div>
	   	</div>
		</div>
	</div>
</div>