<h1>Projects</h1>
<br>
<br>
<br>
<h2>Live Projects</h2>
<% @projects.each do |p| %>
  <div class="project-container">
    <div class="six columns centered">
      <h4 class='project-language'><%= p[:language]%></h4>
      <h3 class='project-name'><%= p[:title] %></h3>
      <br>
      <span class='project-description'><%= p[:description] %></span>
      <span class='project-date'>Spring 2013</span>
      <%= link_to "View Live", p[:link], :class => 'project-link' %>
    </div>
  </div>
<% end %>
<h2>Public Github Repos</h2>
<br><br><br>
<div class="dump-github"></div>
