<div class="hero-unit">
	<h1>Projects</h1>
	<br>
	<br>
	<br>
	<p class="visible-desktop">For now, please see my <a href="http://github.com/peterklipfel">Github</a></p>
	<p class="hidden-desktop"><a href="http://github.com/peterklipfel">Github</a></p>
</div>