<div class="visible-phone blog-phone">
<h1>Posts</h1>
<br>
<br>
<br>
<h3 style="text-align: center;">
<% @date_post_name.each do |date_name_tuple| %>
    <%= link_to date_name_tuple[1].split("_").each{|word| word.capitalize!}.join(" "), post_link(date_name_tuple) %>
    <br>
<% end %>
</h3>
</div>
<div class="blog-center hidden-phone">
<h1>Posts</h1>
<br>
<br>
<br>
<h3 style="text-align: center;">
<% @date_post_name.each do |date_name_tuple| %>
    <%= link_to date_name_tuple[1].split("_").each{|word| word.capitalize!}.join(" "), post_link(date_name_tuple) %>
    <br>
<% end %>
</h3>
</div>
