@import "bootstrap";
/* Background */
html, body {
	height: 100%;
	background-image: linear-gradient(bottom, rgb(235,232,228) 13%, rgb(255,254,250) 72%);
	background-image: -o-linear-gradient(bottom, rgb(235,232,228) 13%, rgb(255,254,250) 72%);
	background-image: -moz-linear-gradient(bottom, rgb(235,232,228) 13%, rgb(255,254,250) 72%);
	background-image: -webkit-linear-gradient(bottom, rgb(235,232,228) 13%, rgb(255,254,250) 72%);
	background-image: -ms-linear-gradient(bottom, rgb(235,232,228) 13%, rgb(255,254,250) 72%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(235,232,228)),
		color-stop(0.72, rgb(255,254,250))
	);
}

/* Hero Unit */
.hero-unit {
	background: none;
}

/* Navbar */
.navbar .nav {
	float: right;
}