// VARIABLES

$light_green: #2ecc71;
$brown: #270F03;
$brick: #c0392b;
$light_grey: #f1f6f7;

// END VARIABLES

// Mixins
@mixin nav-link-style {
  & a {
    color: #fff;
    font-size: 22px;
    -webkit-backface-visibility: hidden;
    background-color: $light_green;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
  }
  & a:hover {
    -webkit-backface-visibility: hidden;
    background-color: #27ae60;
  }
  & a:active {background-color:transparent;}  /* selected link */
}

// END MIXINS

@font-face {
  font-family: gardensC;
  src: url("/assets/gardensC.otf") format("opentype"); /* For IE */
  src: local("myfont"), url("/assets/gardensC.otf") format("opentype"); /* For non-IE */
}

body{
  background-color: $light_grey;
}

h1 {
	font-family: 'gardensC', Arial, sans-serif; 
	text-align: center;
  &.hero{
    margin-top: 0;
    font-size: 100px;
    color: $light_grey;
  }
}

h2 {
  text-align: center;
  &.hero{
    color: $light_grey;
  }
}

.main-wrap{
  padding: 0
}

#header{
  max-width: 100%;
  min-width: 100%;
  overflow: visible;
  #style-nav{
    background-color: $light_green;
  }
  .style-row-nav-left{
    width: 13%;
    text-align: center;
    border: none;
  }
  .style-row-nav-right{
    width: 6%;
    text-align: center;
    border: none;
    float:right;
    font-size:25px;
    
    .foundicon-twitter{
      font-size:25px;
    }
    .foundicon-github{
      font-size:25px;
    }
    .foundicon-linkedin{
      font-size:25px;
    }
  }
  #mainNav{
    background-color: transparent;
  }
  @include nav-link-style;
  & p {
    margin: 0;
  }
  .sidebar-button{
    border: none;
  }

}
.nav-bar-side{
  & li{
    border: none;
    @include nav-link-style;
    & a{
      font-size: 25px !important;
    }
  }
}

.who-am-i{
  background-color: $light_green;
  height: 100%;
  width: 100%;
  .hero-img {
    @media (max-width: 1000px) {
      display:none;
    }
    margin: 0 auto;
    display: block;
    margin-top: 33px;
  }
}

.computer-me{
  background-color: $light_grey;
  width:100%;
  height: 100%;
  & img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }
  & p {
    font-size: 50px;
    text-align: center;
  }

  & h1{
    font-size: 85px;
    margin: 60px auto;
  }
}

.map {
  width: 100%;
  & .row {
    width: 100%;
    height: 300px;
    overflow: visible;
    & #map-canvas{
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 80px;
  margin-top: -80px;
  background-color: $brown;
  & ul {
    margin: 20px auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    & li {
      margin: 0 30px;
      display: inline;
      & a {
        font-size: 25px;
        color: #eee;
        -webkit-backface-visibility: hidden;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        /* ...and now for the proper property */
        transition:.5s;
      }
      & a:hover {
        -webkit-backface-visibility: hidden;
        color: #c0392b;
      }
      & a:active {background-color:transparent;}  /* selected link */
    }
  }
}







// HACK TO MAKE FONTS WORK
$fontFileName: "/assets/social_foundicons";
$fontName: "SocialFoundicons";
$classPrefix: "foundicon-";

@mixin i-class($name,$pua) {
  .#{$classPrefix}#{$name}:before { 
    content: "\f#{$pua}";
  }
}

@mixin ie-class($name,$pua) {
  .#{$classPrefix}#{$name} { 
    *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf#{$pua};"); 
  }
}

@mixin face {
  @font-face { 
    font-family: $fontName;
    src: url('#{$fontFileName}.eot');
    src: url('#{$fontFileName}.eot?#iefix') format('embedded-opentype'),
         url('#{$fontFileName}.woff') format('woff'),
         url('#{$fontFileName}.ttf') format('truetype'),
         url('#{$fontFileName}.svg##{$fontName}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

/* font-face */
@include face;

/* global foundicon styles */
[class*="#{$classPrefix}"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
[class*="#{$classPrefix}"]:before {
  font-family: $fontName;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
@include i-class(thumb-up,"000");
@include i-class(thumb-down,"001");
@include i-class(rss,"002");
@include i-class(facebook,"003");
@include i-class(twitter,"004");
@include i-class(pinterest,"005");
@include i-class(github,"006");
@include i-class(path,"007");
@include i-class(linkedin,"008");
@include i-class(dribbble,"009");
@include i-class(stumble-upon,"00a");
@include i-class(behance,"00b");
@include i-class(reddit,"00c");
@include i-class(google-plus,"00d");
@include i-class(youtube,"00e");
@include i-class(vimeo,"00f");
@include i-class(flickr,"010");
@include i-class(slideshare,"011");
@include i-class(picassa,"012");
@include i-class(skype,"013");
@include i-class(steam,"014");
@include i-class(instagram,"015");
@include i-class(foursquare,"016");
@include i-class(delicious,"017");
@include i-class(chat,"018");
@include i-class(torso,"019");
@include i-class(tumblr,"01a");
@include i-class(video-chat,"01b");
@include i-class(digg,"01c");
@include i-class(wordpress,"01d");

/* general icons for IE7 */
[class*="#{$classPrefix}"] {
  font-family: $fontName;
  font-weight: normal;
  font-style: normal;
}

@include ie-class(thumb-up,"000");
@include ie-class(thumb-down,"001");
@include ie-class(rss,"002");
@include ie-class(facebook,"003");
@include ie-class(twitter,"004");
@include ie-class(pinterest,"005");
@include ie-class(github,"006");
@include ie-class(path,"007");
@include ie-class(linkedin,"008");
@include ie-class(dribbble,"009");
@include ie-class(stumble-upon,"00a");
@include ie-class(behance,"00b");
@include ie-class(reddit,"00c");
@include ie-class(google-plus,"00d");
@include ie-class(youtube,"00e");
@include ie-class(vimeo,"00f");
@include ie-class(flickr,"010");
@include ie-class(slideshare,"011");
@include ie-class(picassa,"012");
@include ie-class(skype,"013");
@include ie-class(steam,"014");
@include ie-class(instagram,"015");
@include ie-class(foursquare,"016");
@include ie-class(delicious,"017");
@include ie-class(chat,"018");
@include ie-class(torso,"019");
@include ie-class(tumblr,"01a");
@include ie-class(video-chat,"01b");
@include ie-class(digg,"01c");
@include ie-class(wordpress,"01d");


