@font-face {
  font-family: gardensC;
  src: url("/assets/gardensC.otf") format("opentype"); /* For IE */
  src: local("myfont"), url("/assets/gardensC.otf") format("opentype"); /* For non-IE */
}

h1 {
	font-family: 'gardensC', Arial, sans-serif; 
	text-align: center;
} 

#header{
  max-width: 100%;
  min-width: 100%;
  overflow: visible;
  #style-nav{
    background-color: #2ecc71;
  }
  .style-row-nav-left{
    width: 8%;
    text-align: center;
    border: none;
  }
  .style-row-nav-right{
    width: 4%;
    text-align: center;
    border: none;
    float:right;
    font-size:25px;
    
    .foundicon-twitter{
      font-size:25px;
    }
    .foundicon-github{
      font-size:25px;
    }
    .foundicon-linkedin{
      font-size:25px;
    }
  }
  #mainNav{
    background-color: transparent;
  }
  & a {
    font-size: 22px;
    -webkit-backface-visibility: hidden;
    background-color: #2ecc71;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
  }
  & a:hover {
    -webkit-backface-visibility: hidden;
    background-color: #27ae60;
  }
  & a:active {background-color:transparent;}  /* selected link */
}

