<footer id="footer">
  <div>
    <ul>
      <li class='style-row-nav-left'><a href="mailto:peter@klipfel.me">Contact</a></li>
      <li class='style-row-nav-left'><a href="https://github.com/peterklipfel/homepage">View Source</a></li>
    </ul>
  </div>
</footer>