<footer id="footer">
  <div>
    <ul>
      <li class='style-row-nav-left'><a href="#">Contact</a></li>
      <li class='style-row-nav-left'><a href="#">View Source</a></li>
    </ul>
  </div>
</footer>