<div class="navbar">
	<div class="navbar-inner">
		<div class="container">	 
			<a class="brand" href="#">Peter Klipfel</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active">
			    	<%= link_to 'Home', root_path %>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
</div>