<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= render 'layouts/styles_and_scripts' %>
</head>
<body>
	<% unless no_navbar? %>
		<%= render 'layouts/navbar' %>
	<% end %>
	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
